/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .indent{
    text-indent: 2em;
  }
}

@font-face {
  font-family: 'Varela';
  src: local('Varela'), url(../fonts/Varela_Round/VarelaRound-Regular.ttf) format('truetype');
}

body{
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    font-family: 'Varela', sans-serif, serif;
  }

  .scrollDown{
    bottom: 6vh;
  }

  .welcomeBanner{
      background: linear-gradient(#0b001a, #100022);
  }
  
  .space {
    background: transparent center / 200px 200px round;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -3;
  }
  
  .stars1 {
    /*animation: space 180s ease-in-out infinite;*/
    z-index: -2;
    background-image: 
      radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
  }
  
  .stars2 {
    /* animation: space 180s ease-in-out 1; */
    background-image: 
      radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
  }
  
  /* .stars3 {
    animation: space 300s ease-in-out 1;
    background-image: 
      radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
  } 
  @keyframes space {
    40% {
      opacity: 0.25;
    }
    100% {
      transform: rotate(360deg);
    }
  }*/

  /* Test roadmap */
 #infographic .circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 2px solid currentColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    position: absolute;
    left: 50%;
 }
 #infographic :not(:nth-child(even)) .circle {
    transform: translateX(-100%);
 }
 #infographic .circle span {
    font-size: 5em;
    margin-bottom: 40px;
    color: currentColor;
 }
 #infographic article {
    max-width: 410px;
    margin-bottom: 20px;
    cursor: pointer;
    left: 50%;
    position: relative;
 }

 #infographic article header span {
    display: flex;
    font-size: 2em;
    border-radius: 50%;
    background-clip: padding-box;
    padding: 14px;
    transition: transform 0.4s;
    color: #fff;
 }
 #infographic article header h6 {
    text-transform: uppercase;
    margin: 0 30px;
    padding: 5px;
 }

 #infographic article header {
   border-radius: 30px;
}

 #infographic :nth-child(even) article {
    text-align: right;
    transform: translateX(-100%);
 }
 #infographic :nth-child(even) article header {
    flex-flow: row-reverse;
 }


 #infographic article[data-step="1"] {
    margin-left: 20px;
 }
 #infographic article[data-step="2"] {
    margin-left: 50px;
 }
 #infographic article[data-step="3"] {
    margin-left: 46px;
 }
 #infographic article[data-step="4"] {
    margin-left: 0;
 }
 #infographic article[data-step="5"] {
    margin-left: -60px;
 }
 #infographic article[data-step="6"] {
    margin-left: -40px;
 }
 #infographic article[data-step="7"] {
    margin-left: -70px;
 }
 #infographic article[data-step="8"] {
    margin-left: -60px;
 }
 #infographic article[data-step="9"] {
    margin-left: 0;
 }
 #infographic article[data-step="10"] {
    margin-left: 70px;
 }
 #infographic article[data-step="11"] {
   margin-left: 60px;
}
#infographic article[data-step="12"] {
   margin-left: 100px;
}
#infographic article[data-step="13"] {
   margin-left: 80px;
}
#infographic article[data-step="14"] {
   margin-left: 30px;
}
#infographic article[data-step="15"] {
   margin-left: -50px;
}

 #infographic .one article header {
    background-color: rgba(37, 59, 143, 0.3);
    color: #007bff;
 }
 #infographic .one article header span {
    background-color: #007bff;
 }
 #infographic .two article header {
    background-color: rgba(0, 108, 99, 0.1);
    color: #006c63;
 }
 #infographic .two article header span {
    background-color: #28a745;
 }
 #infographic .three article header {
    background-color: rgba(69, 80, 162, 0.1);
    color: #dc3545;
 }
 #infographic .three article header span {
    background-color: #dc3545;
 }
 #infographic article:hover header span {
    transform: scale(1.2);
 }
 #infographic article.active header {
    border-bottom-right-radius: 0;
 }
 #infographic article.active header span {
    --opacity: 0.4;
    transform: scale(1) !important;
 }

 #infographic .two article.active header {
    border-bottom-left-radius: 0;
 }
 